body.cards-mode {
  overflow-y: scroll;
  -ms-overflow-style: none;
}


body.cards-mode::-webkit-scrollbar {
  display: none;
}



.nav-link.active {
  color: #007bff !important;
  font-weight: bold !important;

}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.navbar {
  padding: 1rem;
}

.nav-link {
  font-size: 1rem;
  color: #333;
}

.nav-link.active {
  font-weight: bold;
  color: #007bff;
}

.btn-danger {
  font-size: 0.9rem;
}

@media (max-width: 768px) {

  .navbar {
    flex-direction: column;

  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    width: 100%;
    text-align: center;
  }

}

@media (max-width: 768px) {
  .navbar.d-flex {
    flex-direction: column;
  }

  .list-unstyled {
    flex-direction: column;
    padding: 0;
  }

  .mx-2 {
    margin: 0.5rem 0;
  }

  .btn-lg {
    width: 100%;
  }

}

@media (min-width: 769px) {

  .navbar {
    justify-content: space-between;
  }

  .list-unstyled {
    display: flex;
  }

  .btn-lg {
    width: auto;
  }


}

.navbar-nav .btn-danger {
  margin-left: 1rem;
}

.sair-btn {
  display: inline-block;
  position: relative;
  margin-left: 1rem;
}

@media (max-width: 992px) {
  .sair-btn {
    position: absolute;
    right: 1rem;
    top: 2.5rem;
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }

  .navbar {
    position: relative;
  }

  img {
    height: auto;
  }
}

@media (max-width: 880px) {
  .navbar-nav {
    margin-right: 30px;
  }
}

@media (max-width: 823px) {
  .navbar-nav {
    margin-right: 50px;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    margin-right: 0px !important;
  }

  .sair-btn {
    top: 1.5rem;
  }
}

.btn-close-custom {
  filter: invert(1);
  opacity: 1;
}


.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-link {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  color: #007bff;
  cursor: pointer;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination .page-item.disabled .page-link {
  color: #ccc;
  cursor: not-allowed;
}
