
.senha {
    color: aliceblue;
    text-align: center;
}

.Email {
    text-align: center;
    color: aliceblue;
}

h2 {
    text-align: center;
    color: aliceblue;
}

.input {
    margin: 0px;
    width: 400px;
    border-radius: 10px;
    
    text-align: center;
}

.button {
    text-align: center;
}


